{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

    <div class="card-content has-text-centered">
        <div class="log">
            <img src="{% static 'img/BlendOFF_logo.png' %}" width="200" height="200">
    </div>

    <style>
        .card-content {
            background-color: rgba(255, 255, 255, 0.7); /* Фон для контенту з прозорістю */
            padding: 20px; /* Додатковий відступ для контенту */
            border-radius: 10px; /* Закруглені кути для контенту */
            margin-top: 120px;
        }

        .carousel-item{
            height: 470px;
        }

    </style>

        <div class="carousel">
        <div class="carousel-container">
            <div class="carousel-item"><img src="https://data.designervn.net/2021/05/13586_89914c2487e78f6b1e63c5eeb5f625c3.jpg" alt="Image 1">
            </div>

    <div class="background-container">
        <div class="columns is-mobile is-centered">
            <div class="column is-half notification-container">
                {% for notification in notifications %}
                    {% if notification.notification_type == 2 %}
                        <div class="notification comment-notification">
                            <a href="{% url 'delete-notification' notification.id %}" class="delete"></a>
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        {% if notification.sender.profile.picture %}
                                            <img src="{{ notification.sender.profile.picture.url }}" alt="User Image">
                                        {% else %}
                                            <img src="{% static 'img/default-profile.jpg' %}"
                                                 alt="Default Profile Image">
                                        {% endif %}
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <strong>{{ notification.sender.profile.first_name }} {{ notification.sender.profile.last_name }}</strong>
                                        <small>@{{ notification.sender.username }}</small>
                                        <br>
                                        Commented:
                                        <p>{{ notification.text_preview }}</p>
                                        <strong><small>{{ notification.date|naturaltime }}</small></strong>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <figure class="image is-128x128">
                                        <img src="{{ notification.post.picture.url }}" alt="Post Image">
                                    </figure>
                                </div>
                            </article>
                        </div>
                    {% endif %}
                    <!-- Додайте аналогічний код для інших типів сповіщень -->
                {% endfor %}
            </div>
        </div>
    </div>

    <style>
        body {
            height: auto;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: url("https://i.pinimg.com/originals/68/42/a9/6842a9e871dcdf7c42258b292b96110e.jpg") center/cover no-repeat fixed;
        }

        .background-container {
            width: 100%;
            padding-top: 100px; /* Відступ від верху для сповіщень */
        }

        .notification-container {
            width: 100%;
        }

        .notification {
            margin-top: 30px;
            margin-bottom: 100px;
            background-color: darkcyan;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 1200px;
            right: 300px;
            opacity: 0.9;
        }

        .comment-notification p,
        .follow-notification p,
        .like-notification p {
            margin-top: 10px;
        }

        .notification img {
            border-radius: 50%;
        }
    </style>

    <style>


        footer {
            margin: 20px;
        }

        .carde {
            background-color: darkorange;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            color: rgba(255, 255, 255, 0.7);
            width: 1200px;
            opacity: 0.9;
            margin: 25px;
            height: 50px;
        }


    </style>

    <div class="carde">
        <footer>
            <p>&copy; 2023 The creation of a team BlendOFF. All rights reserved.</p>
        </footer>
    </div>



{% endblock %}
